Repository pyronear/pyro-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: client/tests, ext: client/docs, ext: client, ext: tests, module: database, module: services, route: accesses, route: annotations, route: login, route: media, topic: build, topic: ci, topic: docker, topic: documentation, topic: nginx, topic: security

.github/labeler.yml:

'ext: client/tests':
- client/tests/*

'ext: client/docs':
- client/docs/*

'ext: client':
- client/pyrostorage/*

'ext: tests':
- src/tests/*

'module: database':
- src/app/db/*

'module: services':
- src/app/services/*

'route: accesses':
- src/app/api/routes/accesses.py
- src/app/api/crud/accesses.py

'route: annotations':
- src/app/api/routes/annotations.py

'route: login':
- src/app/api/routes/login.py

'route: media':
- src/app/api/routes/media.py

'topic: build':
- src/app/requirements.txt
- pyproject.toml
- client/pyproject.toml
- client/setup.py

'topic: ci':
- .github/*

'topic: docker':
- docker-compose.yml
- src/Dockerfile

'topic: documentation':
- README.md
- CONTRIBUTING.md
- CODE_OF_CONDUCT.md
- client/README.md

'topic: nginx':
- nginx/*

'topic: security':
- src/app/api/deps.py
- src/app/api/security.py

ci: Added triage CI job
  .github/workflows/pull_requests.yml
Labels: none

ci: Added release note template
  .github/release.yml
Labels: topic: ci

ci: Refactored CI jobs
  .github/validate_headers.py
  .github/workflows/builds.yml
  .github/workflows/client.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: topic: ci

style: Adjusted flake8 config
  .flake8
Labels: none

ci: Renames one CI workflow
  .github/workflows/tests.yml
Labels: none

ci! Fixes test job
  .github/workflows/tests.yml
Labels: none

docs: Fixes Python headers
  client/docs/source/conf.py
  client/pyrostorage/client.py
  client/pyrostorage/exceptions.py
  client/setup.py
  src/app/api/crud/accesses.py
  src/app/api/crud/authorizations.py
  src/app/api/crud/base.py
  src/app/api/deps.py
  src/app/api/external.py
  src/app/api/routes/accesses.py
  src/app/api/routes/annotations.py
  src/app/api/routes/login.py
  src/app/api/routes/media.py
  src/app/api/schemas.py
  src/app/api/security.py
  src/app/config.py
  src/app/db/init_db.py
  src/app/db/models.py
  src/app/db/session.py
  src/app/db/tables.py
  src/app/main.py
  src/app/services/bucket/qarnot.py
  src/app/services/services.py
  src/app/services/utils.py
  src/tests/conftest.py
  src/tests/crud/test_authorizations.py
  src/tests/db_utils.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_annotations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
  src/tests/test_external.py
  src/tests/test_security.py
  src/tests/test_services.py
  src/tests/utils.py
Labels: ext: client, ext: tests, module: database, module: services, route: accesses, route: annotations, route: login, route: media, topic: build, topic: security

test: Updates pytest fixtures
  src/tests/conftest.py
  src/tests/crud/test_authorizations.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_annotations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
Labels: ext: tests

test: Fixed file opening
  src/tests/routes/test_annotations.py
Labels: none

chore: Updates version specifiers
  src/app/requirements.txt
  src/requirements-dev.txt
Labels: topic: build

chore: Fixes the version specifiers of httpx & test fixtures (#13)
  src/app/requirements.txt
  src/requirements-dev.txt
  src/tests/conftest.py
  src/tests/crud/test_authorizations.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_annotations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
Labels: ext: tests, topic: build

[skip ci] Documentation updates
  .buildinfo
  .doctrees/client.doctree
  .doctrees/environment.pickle
  _modules/index.html
  _modules/pyrostorage/client.html
  _static/basic.css
  _static/copybutton.css
  _static/copybutton.js
  _static/copybutton_funcs.js
  _static/debug.css
  _static/doctools.js
  _static/documentation_options.js
  _static/pygments.css
  _static/scripts/furo.js.map
  _static/searchtools.js
  _static/skeleton.css
  _static/sphinx_highlight.js
  _static/styles/furo.css
  _static/styles/furo.css.map
  changelog.html
  client.html
  genindex.html
  index.html
  installing.html
  search.html
  searchindex.js
Labels: none

docs: Removes headers in test
  src/tests/conftest.py
  src/tests/crud/test_authorizations.py
  src/tests/db_utils.py
  src/tests/routes/test_accesses.py
  src/tests/routes/test_annotations.py
  src/tests/routes/test_login.py
  src/tests/routes/test_media.py
  src/tests/test_deps.py
  src/tests/test_external.py
  src/tests/test_security.py
  src/tests/test_services.py
  src/tests/utils.py
Labels: ext: tests

ci: Updates the header check
  .github/workflows/tests.yml
Labels: none
